[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-dotenv = "*"
django-colorfield = "*"
install = "*"
djangorestframework = "*"
jwt = "*"
bcrypt = "*"
geopandas = "*"
django-seed = "*"
faker = "*"
requests = "*"
polyline = "*"
drf-extra-fields = "*"
django-cors-headers = "*"
pyJWT = "*"
psycopg2-binary = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
